## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN'  ], axis=1, inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
name_counts = application_df.NAME.value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [5]:
for name in name_counts[name_counts<6].index:
    application_df.NAME = application_df.NAME.str.replace(name, 'Other')

In [6]:
application_df.NAME.value_counts()

NAME
Other                                          19118
Other INC                                       1666
PARENT BOOSTER USA INC                          1260
TOPS CLUB INC                                    765
WASHINGTON STATE UNIVERSITY                      492
                                               ...
TONASKET VISITORS & BUSINESS Other                 1
JONES RD COALITION FOR Other DRINKING WATER        1
OtherRAMENTO FIRE FIGHTERS PIPES AND DRUMS         1
MAMMOTH LAKES Other                                1
WATERHOUSE CHARITOther TR                          1
Name: count, Length: 1236, dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Get the application types to be replaced
application_types_to_replace = app_counts[app_counts < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
cv1 = classification_value_counts[classification_value_counts > 1]
cv1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Calculate the number of data points for each unique value
classifications_to_replace = classification_value_counts[classification_value_counts < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df,dtype='int')
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_A Other,NAME_A Other PLACE COMMUNITY DEVELOPMENT CORPORATION,NAME_AACE INTERNATIONAL,NAME_ACADEMICS PLUS CHARTER SCHOOL Other INC,NAME_ACADEMY OF Other,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACONA Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
y = dummies_df.IS_SUCCESSFUL
X = dummies_df.drop('IS_SUCCESSFUL',axis=1)

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# Define the number of features
n_features = X_train_scaled.shape[1]

## Compile, Train and Evaluate the Model

In [17]:
# Define the model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=n_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │       102,400 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 15)             │           465 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            16 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 105,311 (411.37 KB)

 Trainable params: 105,311 (411.37 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [19]:
len(X_train_scaled)

25724

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, batch_size=1, epochs=100)

Epoch 1/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.7507 - loss: 0.5097
Epoch 2/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 483us/step - accuracy: 0.7881 - loss: 0.4524
Epoch 3/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 480us/step - accuracy: 0.7930 - loss: 0.4389
Epoch 4/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.7966 - loss: 0.4351
Epoch 5/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.7984 - loss: 0.4251
Epoch 6/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 482us/step - accuracy: 0.8006 - loss: 0.4284
Epoch 7/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 482us/step - accuracy: 0.7963 - loss: 0.4328
Epoch 8/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.7973 - loss: 0.4293
Epoch 9/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 484us/step - accuracy: 0.8067 - loss: 0.4226
Epoch 10/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.8060 - loss: 0.4212
Epoch 11/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 492us/step - accuracy: 0.8021 - loss: 0.4264
Epoch 12/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.8003 - loss: 0.4267
Epoch 13/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 493us/step - accuracy: 0.8040 - loss: 0.4236
Epoch 14/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 542us/step - accuracy: 0.8019 - loss: 0.4210
Epoch 15/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 553us/step - accuracy: 0.8009 - loss: 0.4220
Epoch 16/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 535us/step - accuracy: 0.7974 - loss: 0.4247
Epoch 17/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 526us/step - accuracy: 0.8011 - loss: 0.4251
Epoch 18/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 521us/step - accuracy: 0.7994 - loss: 0.4264
Epoch 19/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 520us/step - accuracy: 0.8039 - loss: 0.4224
Epoch 20/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 509us/step - accuracy: 0.8068 - loss: 0.4165
Epoch 21/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 514us/step - accuracy: 0.8034 - loss: 0.4177
Epoch 22/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 521us/step - accuracy: 0.8063 - loss: 0.4205
Epoch 23/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 528us/step - accuracy: 0.8026 - loss: 0.4244
Epoch 24/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 558us/step - accuracy: 0.8050 - loss: 0.4237
Epoch 25/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 555us/step - accuracy: 0.7998 - loss: 0.4259
Epoch 26/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 537us/step - accuracy: 0.8025 - loss: 0.4227
Epoch 27/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 539us/step - accuracy: 0.8063 - loss: 0.4215
Epoch 28/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 520us/step - accuracy: 0.8038 - loss: 0.4200
Epoch 29/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.8053 - loss: 0.4203
Epoch 30/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 503us/step - accuracy: 0.8063 - loss: 0.4196
Epoch 31/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 526us/step - accuracy: 0.8007 - loss: 0.4245
Epoch 32/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 537us/step - accuracy: 0.8016 - loss: 0.4317
Epoch 33/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 497us/step - accuracy: 0.8044 - loss: 0.4196
Epoch 34/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 493us/step - accuracy: 0.8052 - loss: 0.4226
Epoch 35/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.8050 - loss: 0.4226
Epoch 36/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.8035 - loss: 0.4279
Epoch 37/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.8023 - loss: 0.4240
Epoch 38/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 491us/step - accuracy: 0.8037 - loss: 0.4272
Epoch 39/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 486us/step - accuracy: 0.7996 - loss: 0.4300
Epoch 40/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 491us/step - accuracy: 0.8041 - loss: 0.4233
Epoch 41/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 497us/step - accuracy: 0.8045 - loss: 0.4229
Epoch 42/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 493us/step - accuracy: 0.8039 - loss: 0.4236
Epoch 43/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.8044 - loss: 0.4260
Epoch 44/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 537us/step - accuracy: 0.8063 - loss: 0.4216
Epoch 45/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 540us/step - accuracy: 0.7981 - loss: 0.4312
Epoch 46/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 511us/step - accuracy: 0.8038 - loss: 0.4231
Epoch 47/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 518us/step - accuracy: 0.8019 - loss: 0.4285
Epoch 48/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 497us/step - accuracy: 0.8025 - loss: 0.4302
Epoch 49/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 500us/step - accuracy: 0.8052 - loss: 0.4200
Epoch 50/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 527us/step - accuracy: 0.7994 - loss: 0.4291
Epoch 51/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 14s 531us/step - accuracy: 0.7988 - loss: 0.4401
Epoch 52/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 506us/step - accuracy: 0.8003 - loss: 0.4346
Epoch 53/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 511us/step - accuracy: 0.7980 - loss: 0.4485
Epoch 54/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 513us/step - accuracy: 0.8012 - loss: 0.4303
Epoch 55/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 513us/step - accuracy: 0.7998 - loss: 0.4281
Epoch 56/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 514us/step - accuracy: 0.8040 - loss: 0.4343
Epoch 57/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.7968 - loss: 0.4346
Epoch 58/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.8058 - loss: 0.4280
Epoch 59/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 494us/step - accuracy: 0.7985 - loss: 0.4308
Epoch 60/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 500us/step - accuracy: 0.7937 - loss: 0.4389
Epoch 61/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 490us/step - accuracy: 0.8013 - loss: 0.4358
Epoch 62/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 494us/step - accuracy: 0.8008 - loss: 0.4354
Epoch 63/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.7997 - loss: 0.4329
Epoch 64/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.8001 - loss: 0.4503
Epoch 65/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.8022 - loss: 0.4284
Epoch 66/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 493us/step - accuracy: 0.7951 - loss: 0.4401
Epoch 67/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.8025 - loss: 0.4303
Epoch 68/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.7944 - loss: 0.4397
Epoch 69/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.8002 - loss: 0.4445
Epoch 70/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.8011 - loss: 0.4352
Epoch 71/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 484us/step - accuracy: 0.8002 - loss: 0.4336
Epoch 72/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 484us/step - accuracy: 0.7984 - loss: 0.4441
Epoch 73/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.8017 - loss: 0.4306
Epoch 74/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 484us/step - accuracy: 0.8001 - loss: 0.4468
Epoch 75/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.7974 - loss: 0.4506
Epoch 76/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.7991 - loss: 0.4584
Epoch 77/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 482us/step - accuracy: 0.7979 - loss: 0.4339
Epoch 78/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.8012 - loss: 0.4373
Epoch 79/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 490us/step - accuracy: 0.8049 - loss: 0.4337
Epoch 80/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.7983 - loss: 0.4357
Epoch 81/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 492us/step - accuracy: 0.7930 - loss: 0.4470
Epoch 82/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.8034 - loss: 0.4387
Epoch 83/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 485us/step - accuracy: 0.8024 - loss: 0.4305
Epoch 84/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 486us/step - accuracy: 0.8023 - loss: 0.4448
Epoch 85/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 490us/step - accuracy: 0.7973 - loss: 0.4627
Epoch 86/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 490us/step - accuracy: 0.8014 - loss: 0.4458
Epoch 87/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 494us/step - accuracy: 0.7973 - loss: 0.4489
Epoch 88/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 487us/step - accuracy: 0.8053 - loss: 0.4418
Epoch 89/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 489us/step - accuracy: 0.7958 - loss: 0.4488
Epoch 90/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 12s 486us/step - accuracy: 0.8042 - loss: 0.4492
Epoch 91/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.7996 - loss: 0.4563
Epoch 92/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 488us/step - accuracy: 0.7959 - loss: 0.4625
Epoch 93/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 493us/step - accuracy: 0.8041 - loss: 0.4528
Epoch 94/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 495us/step - accuracy: 0.7993 - loss: 0.4586
Epoch 95/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 495us/step - accuracy: 0.8000 - loss: 0.4556
Epoch 96/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 501us/step - accuracy: 0.8003 - loss: 0.4555
Epoch 97/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 492us/step - accuracy: 0.7967 - loss: 0.4633
Epoch 98/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 516us/step - accuracy: 0.8010 - loss: 0.4587
Epoch 99/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 502us/step - accuracy: 0.7987 - loss: 0.4665
Epoch 100/100
25724/25724 ━━━━━━━━━━━━━━━━━━━━ 13s 495us/step - accuracy: 0.8040 - loss: 0.4430

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 420us/step - accuracy: 0.7871 - loss: 0.4667
Loss: 0.4667433500289917, Accuracy: 0.7870553731918335

In [21]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.